body {
  background-color: black;
}

.container-characters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lightning {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.lightning-a {
  opacity: 0.5;
  animation: lightning 10s infinite alternate;
}

@keyframes lightning {
  0%,
  19%,
  21%,
  59%,
  61%,
  79%,
  81% {
    opacity: 0;
  }

  20%,
  60%,
  80% {
    opacity: 0.5;
  }

  /* folgendes optional */
  39%,
  41% {
    opacity: 0;
    transform: none;
  }
  40% {
    opacity: 0.5;
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
